table{ background:#fff; }
.cabecera{background: #6c9831;
	color: #fff; height:22px; }
	td input[type=button]{border-radius:none;background: #6c9831 !important;border:none; color:#fff; padding:6px;font-size:12px;}
	td span{ background:none; border: none;}
/*	td div{ margin:0px !important; background:none !important; border-radius:0px !important; text-shadow:none !important; border:0px !important; box-shadow:none !important; color:#fff !important ;}
	*/
	td{ border:1px solid #6c9831}
.move:hover {
	background: rgba(108,152,49,0.5);
	color: #fff;
	cursor: pointer;
	
}
.cabecera p {
	padding-left: 6px;
	padding-top:4px;
	color: #fff;
	text-align:center;
	font-size:12px;
	
}
tr{ border:none;}
#celda_notasPagos_Footer td{ background: #6c9831;}
#Head_notasPagos,#Head_notasVenta{ background: #6c9831;}
#celda_notasPagos_Cabecera tr td{ background: #6c9831;}
#celda_notasVenta_Cabecera tr td{ background: #6c9831;}
#celda_notasPagos_Footer tr{ background: #6c9831;}
#celda_notasPagos_Cabecera,
#celda_notasDev_Cabecera,
#celda_notasVenta_Cabecera ,
#celda_notasPagos_Footer,
#Head_pagosDev,
#Head_notasDev {background: #6c9831;}
.celdaTexto{
  background-color:#FFFFFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
}
.celdaTextoD{
  background-color:#FFFFFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  color: #333333;
}
.buttonHeader{
  font-size:8pt;
  border:none;
  font-weight: bold;
  font-family: Helvetica;
  color:#fff;
  
}
/*Botonoes de pie de pagina*/
.buttonFooter{  
  border:none;
 font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  text-align:right;
}

/*Filas normales en una tabla*/
.NormalCell{
  color:#333;
  font-size:13px;
  font-weight:normal;
  text-align: center;
/*  border:1px solid #333;*/
  background:#fff;
}

/*Celda de la izquierda que enumera los registros*/
.Contador{

  font-family:Arial, Helvetica, sans-serif;
  font-size:8pt;
  font-weight:bold;
 background-repeat: repeat;
  color:#FFF;
  background:#6c9831;
  width:36px !important;
  text-align:center;
  
}
.cellMouse{
  color:#fff;
  font-size:13px;
  font-weight:normal;
  background-color:rgba(108,152,49,0.5) !important;
  margin-left:30px;
  text-align: center !important;
  
  
}

/***Tablas en el grid**/
.tabla_Grid_RC{
  background:#fff; 

}
/*********Encabezado de titulo*******************/
.encabezado_grid{
  font-size:16px;
  color:#A90100;
  font-family: Arial, Helvetica, sans-serif;

}

/*contien el grid completo */
/*.contenedorGrid{ width:90%; margin:0 auto; overflow-y:scroll;}


.espera_ctn{ display: block;width: 600px; margin: 0 auto; margin-top:5%; text-align: center; color: #fff; }
.espera_ctn p{ font-size: 23px; padding-bottom: 4px;}
.espera_ctn button{ margin-top: 16px; padding: 9px; opacity: 1; filter:alpha(=100); background: #F4BC00; color: #fff;}
.espera_ctn button:hover{ background:#718b1e; }
.espera_ctn_form{ width:45%; margin:0 auto; background:#fff; overflow:hidden; padding:23px; margin-top:5%;border-radius:10px; border:1px solid #505050;}
.espera_ctn_form input{display: inline-block; font-size:22px; background:#CFCFCF;
width: 46%;
padding: 20px;
margin: 5px;}
.espera_ctn_form label{padding: 10px;
display: inline-block;
width: 30%;
text-align: right;
vertical-align: MIDDLE;}
.espera_ctn_form button{ margin-top:12px; margin-right:3px; }
.espera_ctn_form h3{ padding-bottom:12px; text-align:center; font-size:22px; font-weight:600;}
.exe{position: relative;
display: block;
width: 54px;
margin-left: 93%;
margin-top: -40px;
font-size: 2em;
font-weight: bold;
padding: 2px;
height: 54px;}
.exe_mas{position:relative; display:block; width:22px; margin-left:95%;top:29px; font-size:2em; font-weight:bold;  padding:2px; text-align:center;}
.lista_producto{ background:#F5F5F5; padding:7px; border:1px solid #C3C3C3;}
.lista_producto div:hover{ background:#90C90B; color:#fff; cursor:pointer;}
.bas{ background:none; border:none;}
.bas td{ border:0px;}
button:hover, .buscar:hover, .finalizar:hover, .eliminar:hover, .btn:hover, .btn1:hover {
	opacity: 0.5;
}
.eliminar {
	background:url(../touch2/img/iconos_03.png) no-repeat -9px -32px;
	display: block;
	width: 29px;
	height: 29px;
}
.eliminar span {
	display: none;
	text-indent: -9999px;
}
*/