
	.global_container{
		position: absolute !important;
		width: 100% !important;
	}
	.content_container{
		position : relative;
		width: 100%;
		height: 80%;
		max-height: 80%;
		overflow-y : auto; 
		padding-top : 60px;
		margin-bottom: 60px;

	}
	.header, .footer{
		background-color: #337AFF;
		vertical-align: middle !important;
		width: 100% !important;
		left: 0 !important;
		position: fixed !important;
		z-index: 10;
	}
	.footer{
		top: 94%;
	}
	.no_visible{
		display : none;
	}
	.provider_response{
		box-shadow: 1px 1px 5px silver;
		text-align: center;
		padding: 10px;
	}
	#provider_seeker_response{
		display: none;
	}
/*estilos del menu*/
	.mnu_item{
		text-align: center;
		color: white;
		font-size: 90%;
		width: 24% !important;
		display: inline-block !important;
		padding: 5px;
		border-left: 1px solid white;
	}
	.mnu_item > i{
		border-radius: 50%;
		background-color: rgba(0,0,0,.2);
		padding: 5px;
	}
	.mnu_item.active{
		background-color: rgba(0,0,0,.3);
	}
	.invoices_form, .current_invoices_list, 
	.product_invoices_form{
		padding: 5%;
	}

/*estilos de botones de configuracion inicial*/
	#invoices_initial_config_edit{
		display : none;
	}
/*estilos de buscador*/
	.search_results_invoice,
	.productResBusc,
	.product_location_seeker_response{
		position: relative;
		max-width: 100%;
		width: 100%;
		box-shadow: 1px 1px 10px rgba( 0, 0, 0, .2);
	}
/*estilos de los formularios*/
	label{
		font-weight: bold;
	}
	.product_description{
		text-align: center !important;
	}
	.hidden{
		display: none;
	}
	input[type="checkbox"] {
		margin: 5px;
		transform: scale(1.5);
	}
	.product_name,
	.product_model{
		font-weight: bold;
		font-size: 150%;
		padding: 0;
		margin : 0;
	}
/*estilos de las tarjetas*/
	.group_card{
		box-shadow:1px 1px 10px rgba(0,0,0,.3); 
		padding : 10px; 
		margin-bottom : 20px;
	}
	.group_card.gray{
		background:rgba(0,0,0,.05);
	}
/*estilos del pie de página*/
	/*.footer{
		position: fixed !important;
		top : 92%;
	}*/
	.footer>.row{
		padding: 10px;
	}
	.txt_alg_left{
		text-align: left;
	}
	.txt_alg_right{
		text-align: right;
	}
/*estilos de la tabla*/
	.table_list>thead>tr>th, 
	.table_list>tbody>tr>td{
		font-size: 10px;
	}
/**/
	#product_reset_btn{
		display: none;
	}


/*estilos del formulario de ubicación*/
	.new_location_form{
		height: 0;
		overflow: hidden;
	}
	.product_name_location_form{
		position: relative !important;
		width: 100% !important;
		color: green !important;
		text-align: left;
	}
/*encabezados sticky*/
	.header_sticky_top-10{
		position: sticky !important;
		top : -10px !important;
		background-color: white;
	}
/*botones de formulario de ubicacion*/
	#product_seeker_location_form_btn{

	}
	#product_reset_location_form_btn{
		display: none;
	}
	.number_part_aux{
		display: none;
	}
	.padding_0{
		padding: 0px !important;
	}

/*estilos de la ventana emregernet*/
	.emergent_content,
	.emergent_content_2{
		max-height: 100%;
		overflow: auto;
		background-color: white;
		margin-top: 10%;
		padding: 10px;
	}
	.emergent,
	.emergent_2{
		position: absolute;
		top : 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		background: rgba( 0,0,0,.7);
		z-index: 5;
		vertical-align: middle !important;
		display: none;
		z-index: 1000;
	}
	.emergent_2{
		background: rgba( 0,0,225,.7);
		z-index: 1100;
	}