/config.inc.php
/conexionDoble.php
/conexion_inicial.txt

/css/estilo_final1.css

/cache/*
templates_c/*
/templates_c/*
/code/pdf/transferencias/*
/files/packs_img/*
/files/packs_img_tmp/*
/img/codigos_barra/*
assets/archivoDatosQR.txt

**/.DS_Store
*error_log
*.log
*log
