.global{position: absolute;width: 100%;height: 100%;top:0;left: 0;background-image: url('../../../../../img/img_casadelasluces/bg8.jpg');}
.header{position: fixed;height: 80px;background:#718B1E;width:102%;left : 0; top :0; z-index : 10;}
.footer{position: fixed;bottom: 0px; height: 60px;background:#718B1E;width:100%; padding : 5px; z-index : 10;}
.contenido{position: fixed;
	top:60px;width: 100%; 
	padding : 10px; 
	padding-bottom: 100px !important;
	max-height: calc( 100% - 130px );
	overflow: auto;

}
/*th{color: white; font-size: 30px;align-items: center;}*/
.pagos{background:#83B141;color: white;font-size: 20px;}
.entrada_num{padding: 10px;width:80%;font-size: 25px;}
/*#buscador{padding: 10px;width: 80%;font-size: 25px;}*/
#res_busc{
	position: relative;
	width: 100%;
	border: 1px solid;
	top:0px;
	background: white;
	height: 250px;
	overflow-y: auto;
	display:none;
}
/*.btn{padding: 10px;border-radius: 10px;}*/
/*td{border:1px solid;}*/
.mnu{text-decoration: none; position: absolute; padding: 10px;border:1px solid white;background: gray;top:15px;color: white;left: 45%;}
.informativo{font-size: 20px;}
.entrada{padding:10px;height:30px;width:100px;border-radius: 5px;font-size: 20px;}
.filtro{padding:10px;border-radius: 5px;}
/*#listado_cheque_transferencia{position: absolute;left: 3px;top: 50%;width: 24%;height: 250px;border: 1px solid #83B141;background: white;display: none;}*/
.subtabla{font-size: 20px;background:#83B141; }
#emergente{position: absolute; z-index:10;background: rgba(0,0,0,.7);width: 100%;height: 100%;top:0;left: 0;display: none;}
#contenido_emergente{align-items: center;position: absolute;width: 60%;left:20%;height: 50%;top:20%;border-radius: 20px;border:1px solid white;background: rgba(0,0,0,.4);}
.btn_cierra{border-radius: 50%;padding: 12px;color: white;background: red;position: absolute;top:18.5%;left:79%;z-index:100;}
.td_oculto{display:none;}
.opc_buscador{padding: 10px;}
#referencia_cheque_transferencia{width: 50%; height: 150px;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
	margin: 0; 
}
/**{
	font-size : 95% !important;
}*/
input[type=number] { -moz-appearance:textfield; }
	/*	.deshabilita{width: 100%;height: 100%;background: red;position: absolute;top:0;}*/

	/*estilos de la ventana emergente*/
	.emergent,
	.emergent_2{
		position: fixed;
		width: 100%;
		height: 100%;
		left : 0;
		top : 0;
		background-color: rgba( 0, 0, 0, .3);
		z-index: 3;
		display: none;
	}
	.emergent_2{
		z-index: 5;
	}
	.emergent_content,
	.emergent_content_2{
		position: relative;
		top : 100px;
		width: 95%;
		left: 2.5%;
		background-color: white;
		box-shadow: 1px 1px 15px rgba( 0, 0, 0, .5 );
		padding: 10px;
		max-height: 80%;
		overflow-y : auto;
	}

	.no_visible{
		display: none;
	}

	.reverse_form_btn{
		position : absolute;
		top : 20px;
		right: 50px;
		z-index: 12;
	}

	.btn, .form-control, .form-select{
		font-size: 150% !important;
	}

	@media only screen and (max-width: 600px) {
		.btn, .form-control, .form-select{
			font-size: 110% !important;
		}
	}
